<template name="ApplicationLayout">
  <header>
    <h1>{{title}}</h1>
  </header>
  <body>
    <div class="content">
      <div class="side-menu">{{> MainMenu}}</div>
      <div class="root-content">{{> yield}}</div>
    </div>
    <div class="header">
      <div class="flex flex-row gap-4">
        <a target="_blank" rel="noreferrer" href="https://quave.dev/">Quave</a>

        <a
          target="_blank"
          rel="noreferrer"
          href="https://github.com/quavedev/meteor-blaze-samples"
          >Github</a
        >
      </div>
    </div>
  </body>
</template>

<template name="MainMenu">
  <nav class="main-menu">
    <ul>
      {{#each menu in menus }}
      <li><a href="{{menu.link}}" title="{{menu.title}}">{{menu.title}}</a></li>
      {{/each}}
    </ul>
  </nav>
</template>
